.root {
  max-width: 100%;
  padding: 0 100px;
  margin: 0 auto;
}

.card1{
  width: 223px;
  height: 218px;
}

.border-top-bottom{
  border-top: 2px solid #C2CDD8;
  border-bottom: 2px solid #C2CDD8;             
  width: 450px;
}

.card3{
  width: 355px;
  height: 487px;

}

.bageshelp{
  height: 22px;
  max-width: 60px;
  margin: 20px 0px 0px 30px;
  color: #2C90C9;
  background-color: #E6F7FF;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-align: center;
  align-items: center;
  justify-content: center; 
}

.bages{
  height: 22px;
  max-width: 125px;
  margin: 20px 0px 0px 30px;
  color: #2C90C9;
  background-color: #E6F7FF;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.card{
  width: 355px;
  height: 250px;
  font-weight: 400;
}

button{
  background-color: #0070A0;
  color: white;
  width: 173px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
  border: 0;
  size: 17px;
  line-height: 27px;
  cursor: pointer;
  font-weight: 400;
}